<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/questionlist.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="question-list">
        <% _.each(questions, function(question) { %>
            <div class="question">
                <h2 class="question-title"><%= question.question_title %></h2><br>
                <h4><%= question.question_body %></h4>
                <div class="btncls">
                    <button class="answer-btn">Answer</button>
                </div>
            </div>
        <% }); %>
    </div>
</body>
</html>