<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/navbar.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">TechResolve</div>
            <form class="search-form">
                <input type="text" class="search-bar" placeholder="Search...">
                <button type="submit" class="search-button">Search</button>
            </form>
            <div class="buttons">
                <button class="signin-button">Sign In</button>
                <button class="signup-button">Sign Up</button>
                <button class="admin-button">Admin</button>
            </div>
        </div>
    </nav>

</body>
</html>